@using Frontend.ViewModels
@using Microsoft.AspNetCore.Components

@if (Vm != null && Vm.ShowLoginDialog)
{
    <div class="modal-backdrop"></div>

    <div class="modal show d-block">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button class="btn-close" @onclick="Vm.LoginCancel"></button>
                </div>

                <div class="modal-body">

                    <label>User</label>
                    <select class="form-select" @bind="Vm.SelectedLogin">
                        <option value="">-- Select offline user --</option>

                        @foreach (var user in Vm.OfflineUsers)
                        {
                            <option value="@user.Login">@user.FullName</option>
                        }
                    </select>

                    <label class="mt-2">Password</label>

                    <div class="input-group">
                        <input class="form-control"
                               type=@(showPassword ? "text" : "password")
                               @bind="Vm.Password" />

                        <button type="button"
                                class="btn btn-outline-secondary"
                                @onclick="TogglePasswordVisibility"
                                tabindex="-1">
                            <i class="bi @(showPassword ? "bi-eye-slash" : "bi-eye")"></i>
                        </button>
                    </div>




                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="Vm.LoginCancel">Cancel</button>
                    <button class="btn btn-success" @onclick="Vm.LoginOk">OK</button>
                </div>

            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public UsersViewModel? Vm { get; set; }

    private bool showPassword = false;

    private void TogglePasswordVisibility()
    {
        showPassword = !showPassword;
    }
}

