@using Frontend.ViewModels
@using Microsoft.AspNetCore.Components

@if (Vm != null && Vm.ShowPwdDialog)
{
    <div class="modal-backdrop"></div>

    <div class="modal show d-block">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Update password</h5>
                    <button class="btn-close" @onclick="Vm.PwdCancel"></button>
                </div>

                <div class="modal-body">

                    <label class="mt-2">Current Password</label>
                    <div class="input-group">
                        <input class="form-control"
                               type=@(showPassword["Current"] ? "text" : "password")
                               @bind="Vm.CurrentPassword" />

                        <button type="button"
                                class="btn btn-outline-secondary"
                                @onclick='() => TogglePasswordVisibility("Current")'
                                tabindex="-1">
                            <i class="bi @(showPassword["Current"] ? "bi-eye-slash" : "bi-eye")"></i>
                        </button>
                    </div>


                    <label class="mt-2">New Password</label>
                    <div class="input-group">
                        <input class="form-control"
                               type=@(showPassword["New"] ? "text" : "password")
                               @bind="Vm.NewPassword" />

                        <button type="button"
                                class="btn btn-outline-secondary"
                                @onclick='() => TogglePasswordVisibility("New")'
                                tabindex="-1">
                            <i class="bi @(showPassword["New"] ? "bi-eye-slash" : "bi-eye")"></i>
                        </button>
                    </div>


                    <label class="mt-2">Confirm Password</label>
                    <div class="input-group">
                        <input class="form-control"
                               type=@(showPassword["Confirm"] ? "text" : "password")
                               @bind="Vm.ConfirmPassword" />

                        <button type="button"
                                class="btn btn-outline-secondary"
                                @onclick='() => TogglePasswordVisibility("Confirm")'
                                tabindex="-1">
                            <i class="bi @(showPassword["Confirm"] ? "bi-eye-slash" : "bi-eye")"></i>
                        </button>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="Vm.PwdCancel">Cancel</button>
                    <button class="btn btn-success" @onclick="Vm.PwdOk">OK</button>
                </div>

            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public UsersViewModel? Vm { get; set; }

    private Dictionary<string, bool> showPassword = new()
    {
        { "Current", false },
        { "New", false },
        { "Confirm", false }
    };

    private void TogglePasswordVisibility(string field)
    {
        if (showPassword.ContainsKey(field))
        {
            showPassword[field] = !showPassword[field];
        }
    }
}

