@using Frontend.Models
@using Frontend.ViewModels
@using Microsoft.AspNetCore.Components
@using Shared.DTOs

@inherits UserViewModel;

@if (ShowEditUserDialog)
{
    <div class="modal-backdrop"></div>

    <div class="modal show d-block">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Edit User</h5>
                    <button class="btn-close" @onclick="Cancel"></button>
                </div>                

                <div class="modal-body">

                    <label class="mt-2">Login</label>
                    <input class="form-control"
                           type="text"
                           @bind="SelectedUser.Login" />

                    <label class="mt-2">Full Name</label>
                    <input class="form-control"
                           type="text"
                           @bind="SelectedUser.FullName" />

                    <label class="mt-2">Current Password</label>
                    <div class="input-group">
                        <input class="form-control"
                               type=@(showPassword[PwdField.Current] ? "text" : "password")
                               @bind="CurrentPassword" />

                        <button type="button"
                                class="btn btn-outline-secondary"
                                @onclick='() => TogglePasswordVisibility(PwdField.Current)'
                                tabindex="-1">
                            <i class="bi @(showPassword[PwdField.Current] ? "bi-eye-slash" : "bi-eye")"></i>
                        </button>
                    </div>


                    <label class="mt-2">New Password</label>
                    <div class="input-group">
                        <input class="form-control"
                               type=@(showPassword[PwdField.New] ? "text" : "password")
                               @bind="NewPassword" />

                        <button type="button"
                                class="btn btn-outline-secondary"
                                @onclick='() => TogglePasswordVisibility(PwdField.New)'
                                tabindex="-1">
                            <i class="bi @(showPassword[PwdField.New] ? "bi-eye-slash" : "bi-eye")"></i>
                        </button>
                    </div>


                    <label class="mt-2">Confirm Password</label>
                    <div class="input-group">
                        <input class="form-control"
                               type=@(showPassword[PwdField.Confirm] ? "text" : "password")
                               @bind="ConfirmPassword" />

                        <button type="button"
                                class="btn btn-outline-secondary"
                                @onclick='() => TogglePasswordVisibility(PwdField.Confirm)'
                                tabindex="-1">
                            <i class="bi @(showPassword[PwdField.Confirm] ? "bi-eye-slash" : "bi-eye")"></i>
                        </button>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger">Delete user</button>
                    <button class="btn btn-primary" @onclick="Ok">Submit</button>
                </div>

            </div>
        </div>
    </div>
}


@code {
    private enum PwdField
    {
        Current,
        New,
        Confirm
    }

    private Dictionary<PwdField, bool> showPassword = new()
    {
        { PwdField.Current, false },
        { PwdField.New, false },
        { PwdField.Confirm, false }
    };

    private void TogglePasswordVisibility(PwdField field)
    {
        if (showPassword.ContainsKey(field))
        {
            showPassword[field] = !showPassword[field];
        }
    }
}

