@page "/users"
@inject Frontend.Services.UserApiService UserService

@using Frontend.Components

<PageTitle>Users</PageTitle>

<h1>Users</h1>
<hr />

@if( vm?.CurrentUserId == null ) 
{
    <h3>You are not logged in</h3>
}
else
{
    <h3>Welcome, @vm.AllUsers.FirstOrDefault(u => u.Id == vm?.CurrentUserId)!.FullName !</h3>

}    


<button class="btn btn-primary mt-2" @onclick="Login" disabled=@(vm?.CurrentUserId != null)>
        Login
    </button>
<button class="btn btn-primary mt-2" @onclick=@vm!.Logout disabled=@(vm?.CurrentUserId == null)>
        Logout
    </button>
<button class="btn btn-primary mt-2" @onclick="() => EditUser(vm?.CurrentUserId)" disabled=@(vm?.CurrentUserId == null)>
        Edit User
    </button>
    <button class="btn btn-primary mt-2" @onclick="Register">
        Register
    </button>
<hr />

@if (vm == null)
{
    <p>Loading...</p>
}
else if (vm.AllUsers.Count == 0)
{
    <p>No users found.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in vm.AllUsers)
            {
                <tr
                    @ondblclick="() => EditUser(user.Id)">
                    <td>@user.FullName</td>
                    <td>@(user.IsOnline ? "Online" : "Offline")</td>
                </tr>
            }
        </tbody>
    </table>
}

<LoginDialog Vm="vm" />

<EditUserDlg Vm="vm" />



@code {
    private Frontend.ViewModels.UsersViewModel? vm;

    protected override async Task OnInitializedAsync()
    {
        vm = new Frontend.ViewModels.UsersViewModel(UserService);

        vm.OnStateChanged += () =>
        {
            InvokeAsync(StateHasChanged);
        };

        await vm.LoadUsersAsync();
    }

    private async Task Login()
    {
        if (vm != null) 
            vm.OpenLoginDialog();

    }



    private async Task EditUser(int? userId)
    {
        if (vm != null)
        {
            Console.WriteLine("EditUser clicked");
            vm.EditUserId = userId;
            vm.ShowPwdDialog = true;
            StateHasChanged();
        }
    }

    private async Task Register()
    {
        if (vm != null)
        {
            Console.WriteLine("Register clicked");
            StateHasChanged();
        }
    }
}
