@page "/users"
@inject Frontend.Services.UserApiService UserService

<PageTitle>Users</PageTitle>

<h1>Users</h1>

@if (vm == null)
{
    <p>Loading...</p>
}
else if (vm.AllUsers.Count == 0)
{
    <p>No users found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in vm.AllUsers)
            {
                <tr>
                    <td>@user.FullName</td>
                    <td>@(user.IsOnline ? "Online" : "Offline")</td>
                </tr>
            }
        </tbody>
    </table>
}



@code {
    private Frontend.ViewModels.UsersViewModel? vm;

    protected override async Task OnInitializedAsync()
    {
        vm = new Frontend.ViewModels.UsersViewModel(UserService);

        vm.OnStateChanged += () =>
        {
            InvokeAsync(StateHasChanged);
        };

        await vm.LoadUsersAsync();
    }
}
