@page "/Login"
@model AuthServer.Pages.LoginModel

<h2>AuthServer Login</h2>

<form method="post">
    <div>
        <label>User</label>
        <select asp-for="Id" asp-items="Model.Users">
            <option value="">-- Select User --</option>
        </select>
    </div>

    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" />
    </div>

    <button type="submit">Login</button>
</form>

<div asp-validation-summary="All"></div>
